<div class="container">
  <h1>Course with maximum percentage of male students is </h1>

  <%= render "table", students_list: @average_scores %>

  <br><%= link_to "Go Back", tasks_path, class: "button" %>
</div>